// PUSH/PULL
$list: ();
@for $i from 1 through $cols{
	.#{$push}#{$divider}#{$i}{
		left: 100% * ($i / $cols);
	}
	.#{$pull}#{$divider}#{$i}{
		left: -100% * ($i / $cols);
	}
}
@media #{$medium-up}{
	@for $i from 1 through $cols{
		.#{$medium}#{$divider}#{$push}#{$divider}#{$i}{
			left: 100% * ($i / $cols);
		}
		.#{$medium}#{$divider}#{$pull}#{$divider}#{$i}{
			left: -100% * ($i / $cols);
		}
	}
}
@media #{$large-up}{
	@for $i from 1 through $cols{
		.#{$large}#{$divider}#{$push}#{$divider}#{$i}{
			left: 100% * ($i / $cols);
		}
		.#{$large}#{$divider}#{$pull}#{$divider}#{$i}{
			left: -100% * ($i / $cols);
		}
	}
}